<!-- Copyright 2016, Paul Powell, All rights reserved. -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style type="text/css">
  <!--
  .monotable, .monotable th
  {
      font-family:courier;
      font-size:10pt;
      padding: 5px;
  }

  .monotable td
  {
      border: 1px solid #428bca;
      background-color: #ecf3f9
  }

  .t_outer_table, .t_outer_table td
  {
      padding: 2px;
  }
  
  #wrap { 
    width: 900px; 
    margin: 0 auto; 
  }
  -->
  </style>
</head>
<body>
    <div class="content container" id=wrap>
    <div class="row">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="/">Madness</a>
		</div>
		<ul class="nav navbar-nav">
		    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"> Home</span></a></li>
		    {% if user.is_anonymous %}
		    <li><a href={% url 'login' %}><span class="glyphicon glyphicon-user"> Login</span></a></li>
		    <li><a href={% url 'register' %}><span class="glyphicon glyphicon-log-in"> Register</span></a></li>
		    {% include "help_menu.html" %}
		    </ul>
		    {% else %}
		    <li><a href="{% url 'my-brackets' %}"><span class="glyphicon glyphicon-list"> My Brackets</span></a></li>
		    <li>
			<form method="post" action="{% url 'logout' %}" class="navbar-form" style="padding:0;margin:0;">
			    {% csrf_token %}
			    <button type="submit" class="btn btn-link navbar-btn" style="padding:0;"><span class="glyphicon glyphicon-log-out"> Logout</span></button>
			</form>
		    </li>
		    {% include "help_menu.html" %}
		    {% endif %}
		</ul>
		{% if not user.is_anonymous %}
		<ul class="nav navbar-nav navbar-right">
		    <li><a href="{% url 'my-brackets' %}"><span class="glyphicon glyphicon-user"> {{user.username|capfirst}}</span></a></li>
		</ul>
		{% endif %}
	    </div>
	</nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
